In [117]:
import pandas as pd
import numpy as np

In [118]:
data = pd.read_csv("/content/diabetes.csv")

In [119]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [120]:
data.shape

(768, 9)

In [121]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [122]:
data.columns = data.columns.str.upper()
data.columns
data.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [123]:
import numpy as np
def med(df):
  l0 = []
  l1 = []
  for i in range(len(df['BMI'])):
    if df['OUTCOME'][i] == 0:
      l0.append(df['BMI'][i])
    elif df['OUTCOME'][i] == 1:
      l1.append(df['BMI'][i])
  # print(l0)
  median_l0 = np.median(l0)
  median_l1 = np.median(l1)
  print('Median for 0 outcome:',median_l0)
  print('Median for 1 outcome:',median_l1)

med(data)
data.head()

Median for 0 outcome: 30.05
Median for 1 outcome: 34.25

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [124]:
data['AGE_CATEGORY'] = data['AGE'].apply(lambda x: 'Young' if x == 21 else 'Middle_Young' if x >21 and x<50 else 'Old')
data['AGE_CATEGORY']

0               Old
1      Middle_Young
2      Middle_Young
3             Young
4      Middle_Young
           ...
763             Old
764    Middle_Young
765    Middle_Young
766    Middle_Young
767    Middle_Young
Name: AGE_CATEGORY, Length: 768, dtype: object

In [125]:
from typing import List
import numpy as np


def replace_zero(df, columns:List[str]):
    for column in columns:
        data[column] = data[column].replace(0, np.NaN)
    return df
data = replace_zero(data,['BMI','GLUCOSE','BLOODPRESSURE','SKINTHICKNESS','INSULIN'])
data['BLOODPRESSURE'].fillna(data['BLOODPRESSURE'].mean(),inplace = True)
data

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,AGE_CATEGORY
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,Old
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,Middle_Young
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,Middle_Young
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,Young
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,Middle_Young
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,Old
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0,Middle_Young
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,Middle_Young
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1,Middle_Young
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0,Middle_Young